$font-family: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC",
  "微軟正黑體", "Microsoft JhengHei", "Noto Sans T Chinese",
  "Droid Sans Fallback", sans-serif;
.g-header {
  font-family: Microsoft JhengHei;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  min-width: 1000px;
  height: 137px;
  text-align: center;
  display: block;
  .g-wrap-expand {
    position: relative;
    height: 48px;
    width: 1200px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 14px;
    .g-header-top {
      a.logo {
        float: left;
        height: 44px;
        width: 128px;
        display: inline-block;
        margin-right: 36px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        background-image: url(../src/image/svg_logo_header.svg);
      }

      .header-search {
        display: inline-block;
        width: 380px;
        float: left;
        vertical-align: top;
        font-size: 14px;
        font-weight: 400;

        #header-search-form {
          position: relative;
          display: inline-block;
          width: 100%;

          .search {
            float: left;
            width: calc(100% - 70px);
            padding: 6px 32px 5px 14px;
            line-height: 1.4;
            border: 1px solid #ebebeb;
            background: #fbfafa;
            font-family: Microsoft JhengHei;
          }

          .submit {
            &:hover {
              background-color: #1e2124;
            }
            display: inline-block;
            float: left;
            width: 70px;
            padding: 10px 6px 9px;
            background: #49454b;
            color: #fff;
            font-size: 13px;
            cursor: pointer;
            line-height: 1;
            border: 0;
            font-family: Microsoft JhengHei;
            box-sizing: border-box;
          }

          .trend {
            float: left;
            padding: 6px 0 0;
            display: inline-block;
            white-space: nowrap;

            a {
              float: left;
              font-weight: 400;
              color: #49454b;
              white-space: nowrap;
              text-decoration: none;
              font-size: 13px;
              margin-right: 14px;
            }

            a:nth-last-child(1) {
              margin-right: 0;
            }
          }
          a:hover {
            color: #f5548c;
          }
          .g-voiceinput {
            cursor: pointer;
            position: absolute;
            right: 70px;
            top: 0;
            width: 32px;
            height: 32px;
            background: url(../src/image/img_search_mic_icon.png) center center
              no-repeat;
            background-size: 30px;
          }
        }
      }

      .header-right {
        position: absolute;
        top: 50%;
        right: 0;
        align-items: center;
        font-size: 14px;

        .relative {
          position: relative;
          font-size: 14px;

          .Tab_User {
            position: relative;
            margin-right: 18px;
            display: inline-block;
            vertical-align: middle;
            color: #49454b;
            font-weight: 400;
            line-height: 1.4;
            padding: 6px;
            box-sizing: border-box;
            font-family: $font-family;
            &:hover {
              .user_menu {
                visibility: visible;
              }
            }
            .image {
              overflow: hidden;
              width: 30px;
              height: 30px;
              border-radius: 30px;
              color: #49454b;
              font-weight: 400;
              line-height: 1.4;
              font-size: 14px;
              font-family: inherit;
              img {
                width: 100%;
              }
              .badge_active {
                left: 26px;
                display: block;
                position: absolute;
                top: 2px;
                padding: 2px 4px;
                border-radius: 8px;
                line-height: 1;
                background: #f5548c;
                color: #fff;
                font-size: 12px;
              }
            }
            .user_menu {
              position: absolute;
              top: 36px;
              right: 0;
              z-index: 9999;
              visibility: hidden;
              transition: visibility 0.2s, opacity 0.2s linear;
              &:hover {
                & {
                  visibility: visible;
                }
              }
              .user_menu_container {
                padding-top: 9px;
                z-index: 7250;
                position: relative;
                
                .menu_border_flexbox {
                  display: flex;
                  border: 1px solid #ebebeb;
                  box-shadow: 0 8px 20px 10px rgba(41, 36, 45, 0.04);
                  padding-top: 24px;
                  padding-bottom: 14px;
                  background: #fff;
                  
                  .user_list {
                    width: 250px;
                    box-sizing: border-box;
                    padding-right: 14px;
                    padding-left: 0px;
                    .title {
                      padding-bottom: 6px;
                      display: block;
                      color: #49454b;
                      font-weight: 600;
                      .my_mermbership {
                        display: inline-block;
                        vertical-align: middle;
                        width: 28px;
                        height: 28px;
                        color: #49454b;
                        cursor: pointer;
                        .login_menu {
                          background-position: 0 0;
                        }
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        background-image: url(//cdn04.pinkoi.com/pinkoi.site/my_membership/home_sprite_v3.svg);
                        cursor: pointer;
                      }
                      .Account {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 22px;
                        margin-left: 6px;
                        font-weight: 500;
                        max-width: 170px;
                        color: #49454b;
                        cursor: pointer;
                      }
                    }
                    ul {
                      list-style: none;
                      margin: 0;
                      padding: 0;
                      color: #49454b;
                      font-weight: 400;
                      line-height: 1.4;
                    }
                  }
                }
              }
            }
          }
        }
        a {
          margin-right: 18px;
          text-decoration: none;
          font-weight: 400;
          color: #49454b;
          display: inline-block;
          cursor: pointer;
          outline: 0;
          padding: 6px;
        }

        a:nth-of-type(1):hover {
          color: #f5548c;
        }

        a:nth-of-type(2) {
          &:hover {
            color: #f5548c;
            .login-border {
              border: 1px solid #f5548c;
            }
          }
          .login-border {
            border: 1px solid #49454b;
            padding: 8px 10px;
            border-radius: 3px;
          }
        }
        //購物車
        .cart {
          &:hover {
            svg > path {
              fill: #f5548c;
            }
          }

          width: 24px;
          height: 24px;
          position: relative;
          background-position: center;
          display: inline-block;
          vertical-align: middle;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.g-nav {
  display: block;
  .nav-first {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: inherit;

    .nav-first-li {
      display: inline-block;
      float: left;
      width: calc((100% - 70px) / 8);
      height: inherit;

      .title-bold-pink {
        display: block;
        width: initial; //預設 待研究
        font-size: 14px;
        text-align: center;
        color: #f5548c;
        font-weight: 700;
        padding-top: 14px;
        padding-bottom: 10px;
      }

      &:hover {
        .title-bold-pink {
          border-bottom: 2px solid #f5548c;
          padding-bottom: 10px;
          transition: 0.3s;
        }
        .nav-second-campaign {
          //顯示li
          visibility: visible;
        }
      }
      .nav-second-campaign {
        position: absolute;
        top: 48px;
        width: auto;
        min-width: 250px;
        max-width: 500px;
        font-size: 14px;
        background-color: white;
        padding-bottom: 20px;
        &:hover {
          & {
            visibility: visible;
          } //自己顯示自己
        }
        ul {
          margin-left: 20px;
          padding: 0;
          text-align: left;
          li {
            margin-top: 20px;
            list-style-type: none;

            &:hover {
              a > span {
                border-bottom: 1px solid black;
              }
            }

            a {
              text-decoration: none;
              color: #49454b;
              b {
                display: inline-block;
                background: #f5548c;
                color: #fff;
                font-size: 12px;
                font-weight: 400;
                margin-left: 20px;
                padding: 3px 4px 2px;
                border-radius: 3px;
              }
            }
          }
        }
      }
    }
  }
  .nav-second-campaign {
    //li先隱藏，等hover作用顯示
    visibility: hidden;
  }
}
