@charset "UTF-8";
.g-header {
  font-family: Microsoft JhengHei;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  min-width: 1000px;
  height: 137px;
  text-align: center;
  display: block;
}

.g-header .g-wrap-expand {
  position: relative;
  height: 48px;
  width: 1200px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 14px;
}

.g-header .g-wrap-expand .g-header-top a.logo {
  float: left;
  height: 44px;
  width: 128px;
  display: inline-block;
  margin-right: 36px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url(../src/image/svg_logo_header.svg);
}

.g-header .g-wrap-expand .g-header-top .header-search {
  display: inline-block;
  width: 380px;
  float: left;
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
}

.g-header .g-wrap-expand .g-header-top .header-search #header-search-form {
  position: relative;
  display: inline-block;
  width: 100%;
}

.g-header .g-wrap-expand .g-header-top .header-search #header-search-form .search {
  float: left;
  width: calc(100% - 70px);
  padding: 6px 32px 5px 14px;
  line-height: 1.4;
  border: 1px solid #ebebeb;
  background: #fbfafa;
  font-family: Microsoft JhengHei;
}

.g-header .g-wrap-expand .g-header-top .header-search #header-search-form .submit {
  display: inline-block;
  float: left;
  width: 70px;
  padding: 10px 6px 9px;
  background: #49454b;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  line-height: 1;
  border: 0;
  font-family: Microsoft JhengHei;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.g-header .g-wrap-expand .g-header-top .header-search #header-search-form .submit:hover {
  background-color: #1e2124;
}

.g-header .g-wrap-expand .g-header-top .header-search #header-search-form .trend {
  float: left;
  padding: 6px 0 0;
  display: inline-block;
  white-space: nowrap;
}

.g-header .g-wrap-expand .g-header-top .header-search #header-search-form .trend a {
  float: left;
  font-weight: 400;
  color: #49454b;
  white-space: nowrap;
  text-decoration: none;
  font-size: 13px;
  margin-right: 14px;
}

.g-header .g-wrap-expand .g-header-top .header-search #header-search-form .trend a:nth-last-child(1) {
  margin-right: 0;
}

.g-header .g-wrap-expand .g-header-top .header-search #header-search-form a:hover {
  color: #f5548c;
}

.g-header .g-wrap-expand .g-header-top .header-search #header-search-form .g-voiceinput {
  cursor: pointer;
  position: absolute;
  right: 70px;
  top: 0;
  width: 32px;
  height: 32px;
  background: url(../src/image/img_search_mic_icon.png) center center no-repeat;
  background-size: 30px;
}

.g-header .g-wrap-expand .g-header-top .header-right {
  position: absolute;
  top: 23px;
  right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative {
  position: relative;
  font-size: 14px;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User {
  position: relative;
  margin-right: 18px;
  display: inline-block;
  vertical-align: middle;
  color: #49454b;
  font-weight: 400;
  line-height: 1.4;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans T Chinese", "Droid Sans Fallback", sans-serif;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User:hover .user_menu {
  visibility: visible;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .image {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  color: #49454b;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
  font-family: inherit;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .image img {
  width: 100%;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .image .badge_active {
  left: 40px;
  display: block;
  position: absolute;
  top: 2px;
  padding: 2.5px 5px;
  border-radius: 8px;
  line-height: 1;
  background: #f5548c;
  color: #fff;
  font-size: 12px;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 9999;
  visibility: hidden;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu:hover {
  visibility: visible;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container {
  padding-top: 9px;
  z-index: 7250;
  position: relative;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 8px 20px 10px rgba(41, 36, 45, 0.04);
          box-shadow: 0 8px 20px 10px rgba(41, 36, 45, 0.04);
  padding-top: 14px;
  padding-bottom: 14px;
  background: #fff;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list {
  width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 14px;
  padding-left: 0px;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list .title {
  padding-bottom: 6px;
  display: block;
  color: #49454b;
  font-weight: 600;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list .title .my_mermbership {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  position: absolute;
  left: 30px;
  height: 28px;
  color: #49454b;
  cursor: pointer;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list .title .my_mermbership:hover .Account {
  color: #f5548c;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list .title .my_mermbership .login_menu {
  background-position: 0 0;
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(//cdn04.pinkoi.com/pinkoi.site/my_membership/home_sprite_v3.svg);
  cursor: pointer;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list .title .my_mermbership .Account {
  display: inline-block;
  position: absolute;
  line-height: 22px;
  margin-left: 6px;
  font-weight: 500;
  max-width: 170px;
  min-width: 50px;
  color: #49454b;
  cursor: pointer;
  left: 40px;
  top: 5px;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list .title .my_mermbership .Account:hover {
  color: #f5548c;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list ul {
  list-style: none;
  color: #49454b;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list ul li:nth-child(1) a {
  margin-top: 35px;
  margin-left: -60px;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list ul li:nth-child(1) a span {
  margin-left: 5px;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list ul li:nth-child(1) a .badge {
  margin-left: 10px;
  float: right;
  padding: 2.5px 5px;
  border-radius: 8px;
  line-height: 1;
  background: #f5548c;
  color: #fff;
  font-size: 12px;
}

.g-header .g-wrap-expand .g-header-top .header-right .relative .Tab_User .user_menu .user_menu_container .menu_border_flexbox .user_list ul a {
  margin-top: 10px;
  margin-left: -120px;
}

.g-header .g-wrap-expand .g-header-top .header-right a {
  margin-right: 18px;
  text-decoration: none;
  font-weight: 400;
  color: #49454b;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  padding: 6px;
}

.g-header .g-wrap-expand .g-header-top .header-right a:nth-of-type(1):hover {
  color: #f5548c;
}

.g-header .g-wrap-expand .g-header-top .header-right a:nth-of-type(2):hover {
  color: #f5548c;
}

.g-header .g-wrap-expand .g-header-top .header-right a:nth-of-type(2):hover .login-border {
  border: 1px solid #f5548c;
}

.g-header .g-wrap-expand .g-header-top .header-right a:nth-of-type(2) .login-border {
  border: 1px solid #49454b;
  padding: 8px 10px;
  border-radius: 3px;
}

.g-header .g-wrap-expand .g-header-top .header-right .cart {
  width: 24px;
  height: 24px;
  position: relative;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.g-header .g-wrap-expand .g-header-top .header-right .cart:hover svg > path {
  fill: #f5548c;
}

.g-nav {
  display: block;
}

.g-nav .nav-first {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: inherit;
}

.g-nav .nav-first .nav-first-li {
  display: inline-block;
  float: left;
  width: calc((100% - 70px) / 8);
  height: inherit;
}

.g-nav .nav-first .nav-first-li .title-bold-pink {
  display: block;
  width: initial;
  font-size: 14px;
  text-align: center;
  color: block;
  font-weight: 700;
  padding-top: 14px;
  padding-bottom: 10px;
}

.g-nav .nav-first .nav-first-li:hover .title-bold-pink {
  border-bottom: 2px solid #f5548c;
  color: #f5548c;
  padding-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.g-nav .nav-first .nav-first-li:hover .nav-second-campaign {
  visibility: visible;
}

.g-nav .nav-first .nav-first-li .nav-second-campaign {
  position: absolute;
  top: 48px;
  width: auto;
  min-width: 250px;
  max-width: 500px;
  font-size: 14px;
  background-color: white;
  padding-bottom: 20px;
}

.g-nav .nav-first .nav-first-li .nav-second-campaign:hover {
  visibility: visible;
}

.g-nav .nav-first .nav-first-li .nav-second-campaign ul {
  margin-left: 20px;
  padding: 0;
  text-align: left;
}

.g-nav .nav-first .nav-first-li .nav-second-campaign ul li {
  margin-top: 20px;
  list-style-type: none;
}

.g-nav .nav-first .nav-first-li .nav-second-campaign ul li:hover a > span {
  border-bottom: 1px solid black;
}

.g-nav .nav-first .nav-first-li .nav-second-campaign ul li a {
  text-decoration: none;
  color: #49454b;
}

.g-nav .nav-first .nav-first-li .nav-second-campaign ul li a b {
  display: inline-block;
  background: #f5548c;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px;
  padding: 3px 4px 2px;
  border-radius: 3px;
}

.g-nav .nav-second-campaign {
  visibility: hidden;
}
/*# sourceMappingURL=gheader.css.map */