.login-body {
  display: block;
}

.login-body .login-outer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #d8d8d8;
}

.login-body .login-outer .login-wrapper {
  position: absolute;
  width: 560px;
  height: 633px;
  border-radius: 8px 8px 8px 8px;
  background: white;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper {
  position: relative;
  display: block;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper {
  display: block;
  height: 277px;
  padding-top: 24px;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .logo {
  position: relative;
  display: block;
  width: 200px;
  height: 68px;
  margin: 0 auto;
  margin-top: 0;
  background-image: url(https://cdn04.pinkoi.com/pinkoi.site/event/xmas2018/logo_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px auto;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 140px;
  margin: 0 auto;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper {
  position: relative;
  display: inline-block;
  width: 740px;
  padding-top: 16px;
  text-align: left;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn {
  position: relative;
  top: 16px;
  display: inline-block;
  width: 300px;
  height: 120px;
  background: white;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-fb {
  position: absolute;
  width: 220px;
  height: 21px;
  padding: 15px 15px 15px 65px;
  color: #fff;
  border-radius: 8px 8px 8px 8px;
  background: #4f71b6;
  font-size: 21px;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-fb::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  content: "";
  border-right: 1px solid #617fbd;
  background-image: url(https://cdn04.pinkoi.com/pinkoi.site/login/ico_fb_btn.png);
  background-repeat: no-repeat;
  background-position: 12px center;
  box-shadow: 1px 0 0 0 #4765a3;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-fb:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.3em #244279;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-weibo {
  position: absolute;
  top: 68px;
  width: 220px;
  height: 21px;
  padding: 15px 15px 15px 65px;
  color: #fff;
  border-radius: 8px 8px 8px 8px;
  background: #e05e5e;
  font-size: 21px;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-weibo::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 52px;
  height: 52px;
  content: "";
  border-radius: 8px 0 0 8px;
  background-color: #d8d8d8;
  background-image: url(https://cdn04.pinkoi.com/pinkoi.site/login/ico_weibo_btn.png);
  background-repeat: no-repeat;
  background-position: 12px center;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-weibo:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.3em #c21b24;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-twitter {
  position: absolute;
  width: 220px;
  height: 21px;
  padding: 15px 15px 15px 65px;
  color: #fff;
  border-radius: 8px 8px 8px 8px;
  background: #33a6d2;
  font-size: 21px;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-twitter::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  content: "";
  border-right: 1px solid #33a6d2;
  background-image: url(https://cdn04.pinkoi.com/pinkoi.site/login/ico_twitter_btn_1.png);
  background-repeat: no-repeat;
  background-position: 12px center;
  box-shadow: 1px 0 0 0 #4287d7;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-twitter:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.3em #4287d7;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-weixin {
  position: absolute;
  top: 68px;
  display: block;
  width: 220px;
  height: 21px;
  padding: 15px 15px 15px 65px;
  color: #fff;
  border-radius: 8px 8px 8px 8px;
  background: #e05e5e;
  font-size: 21px;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-weixin::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 52px;
  height: 52px;
  content: "";
  border-radius: 8px 0 0 8px;
  background-color: #d8d8d8;
  background-image: url(https://cdn04.pinkoi.com/pinkoi.site/login/ico_login_weixin@2x.png);
  background-repeat: no-repeat;
  background-position: 12px center;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .inner-btn-wrapper .social-login-btn .m-button-weixin:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.3em #c21b24;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .prev-next {
  position: absolute;
  top: 180px;
  right: 10%;
  left: 10%;
  display: block;
  height: 10%;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .prev-next i[data-click="btn-next"] {
  display: block;
  float: right;
  width: 19px;
  height: 31px;
  cursor: pointer;
  background: url(https://cdn04.pinkoi.com/pinkoi.site/login/img_arrow_r_2x.png) right center no-repeat;
  background-size: 19px 31px;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .prev-next i[data-click="btn-back"] {
  display: block;
  float: left;
  width: 19px;
  height: 31px;
  cursor: pointer;
  background: url(//cdn04.pinkoi.com/pinkoi.site/login/img_arrow_l_2x.png) left center no-repeat;
  background-size: 19px 31px;
}

.login-body .login-outer .login-wrapper .login-inner-wrapper .login-upper .social-btn .promo {
  position: relative;
  display: block;
}

.next {
  visibility: hidden;
}

.back {
  visibility: hidden;
}
/*# sourceMappingURL=login.css.map */