@charset "UTF-8";
.reset-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.reset-mask .reset-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.reset-mask .reset-wrapper .reset-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans T Chinese", "Droid Sans Fallback", sans-serif;
  border-radius: 20px;
  font-size: 20px;
}

.reset-mask .reset-wrapper .reset-container .reset-form {
  margin: 0 auto;
  text-align: center;
  display: block;
  font-family: inherit;
  font-size: 13px;
  line-height: 1.4;
  margin-top: 30px;
}

.reset-mask .reset-wrapper .reset-container .reset-form .reset-input {
  position: relative;
  max-width: 300px;
  padding: 0 20px;
  margin: 0 auto;
  list-style: none;
  display: block;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans T Chinese", "Droid Sans Fallback", sans-serif;
  left: 10px;
}

.reset-mask .reset-wrapper .reset-container .reset-form .reset-input li {
  position: relative;
}

.reset-mask .reset-wrapper .reset-container .reset-form .reset-input li #reset-password {
  display: block;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  padding: 18px 20px 17px 50px;
  border-radius: 8px;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans T Chinese", "Droid Sans Fallback", sans-serif;
  cursor: text;
}

.reset-mask .reset-wrapper .reset-container .reset-form .reset-input li #reset_password-input {
  position: absolute;
  color: #bbb;
  left: 20px;
  right: 12px;
  top: 0;
  text-align: left;
  padding: 18px 30px 15px 35px;
  background-image: url(../src/image/img_login_account_icon.png);
  background-size: 21px 300px;
  background-repeat: no-repeat;
  background-position: 0 -93px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans T Chinese", "Droid Sans Fallback", sans-serif;
  font-size: 16px;
  cursor: text;
  pointer-events: none;
}

.reset-mask .reset-wrapper .reset-container .reset-form .reset-button-wrapper {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.reset-mask .reset-wrapper .reset-container .reset-form .reset-button-wrapper .reset-submit {
  padding-right: 40px;
  padding-left: 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  padding: 12px 40px 13px 40px;
  background: #f5548c;
  font-size: 21px;
  color: #fff;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans T Chinese", "Droid Sans Fallback", sans-serif;
  outline: none;
  cursor: pointer;
}

.reset_PassWord_alert:before {
  display: block;
  content: "";
  border: 7px solid #db484a;
  border-color: transparent #db484a transparent transparent;
  position: absolute;
  right: 10px;
  top: 20px;
}

.reset_PassWord_alert:after {
  content: attr(data-notice);
  display: block;
  background: #db484a;
  color: #fff;
  position: absolute;
  top: 2px;
  right: -116px;
  padding: 11px 15px;
  font-size: 16px;
  border-radius: 5px;
}

.reset_password_error {
  visibility: visible;
  height: auto;
  padding: 20px 38px;
  margin: 0 0 24px 0;
  max-width: none;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #ca2020;
  background: #f7e5e5;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang TC", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans T Chinese", "Droid Sans Fallback", sans-serif;
}
/*# sourceMappingURL=reset_password.css.map */